### Assignment Solution: European Countries not in EU (Using Sets & Pandas)
#### 1.Problem Summary
#### Task: Determine which European countries (in dataset) are not EU members
#### Tools: pandas, Python sets

In [3]:
## Importing necessary libraries
import pandas as pd
europe=pd.read_excel('Europe_and_EU.xlsx',sheet_name='Europe')
eu=pd.read_excel('Europe_and_EU.xlsx',sheet_name='EU')

In [6]:
# Clean the Country column by removing leading/trailing whitespaces
europe['Country'] = europe['Country'].str.strip()
europe['Country'] = europe['Country'].str.strip()

In [7]:
# Top five rows (europe)
europe.head()

,Rank,Country,Population,% of population,Average relative annual growth (%),Average absolute annual growth,Estimated doubling time (Years),Official figure (where available),Date of last figure,Regional grouping,Source
0,1.0,Russia,143964709,17.15,0.19,294285,368,146839993,2017-01-01 00:00:00,EAEU,[1]
1,2.0,Germany,82521653,9.80,1.20,600000,90,82800000,2016-12-31 00:00:00,EU,Official estimate
2,3.0,Turkey,80810000,9.60,1.34,1035000,52,77695904,2016-12-31 00:00:00,NaN,[2]
3,4.0,France,65233271,7.76,0.39,261022,177,66991000,2017-03-01 00:00:00,EU,[3]
4,5.0,United Kingdom,65110276,7.75,0.75,484000,92,66573504,2016-12-30 00:00:00,EU,Official estimate

In [8]:
# Top five rows (eu)
eu.head()

,Rank,Country,2017 population,% of pop.,Average relative annual growth,Average absolute annual growth,Official figure,Date of last figure,Source
0,1,Germany,82800000,16.18,0.76,628876,82576900,2017-03-31,Official estimate
1,2,France,67210459,13.10,0.40,265557,67174000,2018-01-01,Monthly official estimate
2,3,United Kingdom,65808573,12.86,0.65,428793,65648100,2017-06-30,Official estimate
3,4,Italy,60589445,11.84,-0.13,-76001,60494000,2018-01-01,Monthly official estimate
4,5,Spain,46528966,9.09,0.19,89037,46549045,2017-07-01,Official estimate

In [ ]:
# Convert to sets for comparison
europe_countries = set(europe['Country'].dropna().unique())
eu_countries = set(eu['Country'].dropna().unique())

In [11]:
# Check if EU countries are a subset of European countries
is_subset = eu_countries.issubset(europe_countries)
print(is_subset)

False

In [15]:
# Find European countries NOT in EU
non_eu_countries = europe_countries - eu_countries
print("European countries NOT in EU (2018):")
for country in sorted(non_eu_countries): #loops through each element in the collection.
    print(country)

European countries NOT in EU (2018):
Albania
Andorra
Armenia
Austria
Azerbaijan
Belarus
Belgium
Bosnia and Herzegovina
Bulgaria
Croatia
Cyprus
Czech Republic
Denmark
Estonia
Faroe Islands (Denmark)
Finland
Georgia
Germany
Gibraltar (UK)
Greece
Guernsey (UK)
Hungary
Iceland
Ireland
Isle of Man (UK)
Italy
Jersey (UK)
Kosovo
Latvia
Liechtenstein
Lithuania
Luxembourg
Macedonia
Malta
Moldova
Monaco
Montenegro
Netherlands
Norway
Poland
Portugal
Romania
Russia
San Marino
Serbia
Slovakia
Slovenia
Spain
Svalbard (Norway)
Sweden
Switzerland
Turkey
Ukraine
Vatican City
Ã…land Islands (Finland)